@import '../scss/componentes/header';
@import '../scss/componentes/footer';
@import '../scss/componentes/productos';
@import '../scss/componentes/servicios';
@import '../scss/componentes/nosotros';
@import '../scss/componentes/ubicacion';
@import '../scss/base/colores';
@import '../scss/base/variables';

html {
    font-size: 20px;
}

body {
    background-image: url("../multimedia/imagenes/fondo-agv3d.avif");
    background-attachment: fixed;
}

* {
    margin: 0px;
    padding: 0px;
}

.img-portada {
    margin-top: 50px;
    margin-bottom: 50px;
}
