@import './componentes/header';
@import '/componentes/footer';
@import '/componentes/productos';
@import '/componentes/servicios';
@import '/componentes/nosotros';
@import '/componentes/ubicacion';
@import '/base/colores';
@import '/base/variables';

html {
    font-size: 20px;
}

body {
    background-image: url("../multimedia/imagenes/fondo-agv3d.svg");
    background-attachment: fixed;
}

* {
    margin: 0px;
    padding: 0px;
}

.img-portada {
    margin-top: 50px;
    margin-bottom: 50px;
}
