html {
    font-size: 20px;
}

/* Fondo pagina */

body {
    background-image: url("multimedia/imagenes/fondo-agv3d.png");
    background-attachment: fixed;
}

/* Fin Fondo pagina */

/* Header */
a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;

}

* {
    margin: 0;
    padding: 0;
}


.menu-container {
    background-color: #03989e;
    color: aliceblue;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar-logo {
    width: 25%;
    height: 25%;
}

/* Header */

/* Titulo-1 */

.titulo-1 {
    color: rgb(0, 3, 5);
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

/* Fin Titulo-1 */

/* Main */
/* 
.imagen-main {
    width: 100%;
} */

/* Fin Main */

/* section */

.servicios, .productos, .nosotros, .ubicacion {
    color: #074d50;
}

em {
    background-color: #03989e;
    padding: 10px;
}

/* fin section */

/* Section Contacto */

.contacto {
    background-color: #074d50;

}

.contacto-mail {
    color: aliceblue;
}

/* Fin section contacto */

/* Parrafo section nosotros */
p {
    margin: 60px;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
}

/* Fin parrafo section nosotros */

/* Maps */

.maps {
    width: 50%;
    height: 30rem;
}
/* Fin maps */

.contacto {
    background-color: #03989e;
    color: #000;
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    
}

/*  Tamaños productos */

img {
    max-width: 100%;
    max-height: 100%;
}


.producto-1 {
    height: 200px;
    width: 150px;
    border-radius: 15px;

}

.producto-2 {
    height: 200px;
    width: 150px;
    border-radius: 15px;

}

.producto-3 {
    height: 200px;
    width: 150px;
    border-radius: 15px;

}

.producto-4 {
    height: 200px;
    width: 150px;
    border-radius: 15px;

}

.producto-5 {
    height: 200px;
    width: 150px;
    border-radius: 15px;

}

.producto-6 {
    height: 200px;
    width: 150px;
    border-radius: 15px;

}

 .photo-grid-container {
     display: flex;
     justify-content: center;
    
 }

.photo-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Fin Tamaños productos */

/* Transformaciones productos */

.producto-1:hover {
    transform: scale(2);
}

.producto-2:hover {
    transform: scale(2);
}

.producto-3:hover {
    transform: scale(2);
}

.producto-4:hover {
    transform: scale(2);
}

.producto-5:hover {
    transform: scale(2);
}

.producto-6:hover {
    transform: scale(2);
}

/* Fin Transformaciones productos */

/* imagenes redes sociales */
.img-fb {
    height: 50px;
    width: 50px;
}

.img-insta {
    height: 50px;
    width: 50px;
}

/* fin imagenes redes sociales */

/* Logo WhatsApp */

.logo-wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* Fin Logo WhatsApp */

/* Secciones */

.item-servicios {
    padding: 40px;
    
}

.item-productos {
    padding: 40px;
    
}

.item-nosotros {
    padding: 40px;
    
}

.item-ubicacion {
    padding: 40px;
    
}

/* Fin de secciones */

/* Grid productos */

.photo-servicios {
    padding: 50px;
    justify-content: center;
}

.photo-grid {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Fin Grid Productos */

/* Transformaciones servicios */

.photo-servicios:hover {
    transform: scale(1.5);
}

/* Fin Transformaciones servicios */

/* Transformaciones H1 */

.titulo-1:hover {
    transform: scale(2);
}

/* Fin Transformaciones H1 */