@import '../base/colores';

footer {
    background-color: $celesteoscuro;
    margin-top: 50px;
    .img-fb {
        height: 50px;
        width: 50px;
    }
    .img-insta {
        height: 50px;
        width: 50px;
    }

    .img-tiktok {
        height: 50px;
        width: 50px;
    }

    .logo-wpp {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    .contacto-mail {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $blanco;
    }
    .contacto {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Barlow Condensed', sans-serif;
    }
     
}

a {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style: none;
}

.container-footer {
    height: 100px;
    display: grid;
    grid-gap: 20px;
}