.texto-h2-productos {
    text-align: center;
    margin-bottom: 50px;
}

.text-catalogo {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-h3-cuotas {
    text-align: center;
    margin-bottom: 50px;
}