.texto-h2-servicios {
    margin-bottom: 60px;
    margin-left: 30px;
}

.servicios-1:hover {
    transform: translateX(100px);
    transition: all 2s;
}

.servicios-2:hover {
    transform: translateX(100px);
    transition: all 2s;
}