@import '../base/colores';

.texto-h2-servicios {
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 15px;
}

/* transformaciones */ 
.servicios-1:hover {
    transform: translateX(100px);
    transition: all 2s;
}

.servicios-2:hover {
    transform: translateX(100px);
    transition: all 2s;
}

.servicios-1{
    display: none;
}

.servicios-2{
    display: none;
}

/* fin transformaciones */ 

/* medias */ 

@media screen and (min-width: 900px ){
    .servicios-1{
        display: block;
    }
    
    .servicios-2{
        display: block;
    }
    
}
/* fin medias */ 

.parrafo {
    border: 3px dotted $negro;
    border-radius: 20px;
}

